    body {
    padding-top: 54px;
    }
    @media (min-width: 992px) {
    body {
    padding-top: 56px;
    }
    }


   .show {
    display: block !important;
    }
    .hidden {
    display: none !important;
    visibility: hidden !important;
    }
    .invisible {
    visibility: hidden;
    }

    .table-condensed{
    font-size: 13px;
    padding: .3rem;
    }
    .table td, .table th {
    padding: .3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    }
    .ui-progressbar {
    position: relative;
    background-color: #fff important;
    text-shadow: none;
    }
    #progressbar > .ui-progressbar-value {
    background:green;
    }
    .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: none;
    }
    #button{
    margin-bottom: 2px;
    }
 