 body {
     padding-top: 54px;
}
 @media (min-width: 992px) {
     body {
         padding-top: 56px;
    }
}
 .show {
     display: block !important;
}
 .hidden {
     display: none !important;
     visibility: hidden !important;
}
 .invisible {
     visibility: hidden;
}
 .table-condensed{
     font-size: 13px;
     padding: .3rem;
}
 .table td, .table th {
     padding: 10px 6px;
     vertical-align: top;
     border-top: 1px solid #dee2e6;
}
.table th {
     color: #33D4C0;
}
 .ui-progressbar {
     position: relative;
     background-color: #fff important;
     text-shadow: none;
}
 #progressbar {
     border: 1px solid #33d4c0;
     border-radius: 8px;
     text-align: center;
}
 #progressbar > .ui-progressbar-value {
     background:#33d4c0;
     margin: 0;
     border: none;
}
 .progress-label {
     position: absolute;
     left: 50%;
     top: 4px;
     font-weight: bold;
     text-shadow: none;
}
 #button{
     margin-bottom: 2px;
     background: #33d4c0;
     border: 1px solid #33d4c0;
}
 .btn-custom {
     background: #33d4c0;
     border: 1px solid #33d4c0;
     color: #FFF;
     opacity: 1 !important;
}
 .gap-table{
     padding-top: 10px;
}
 .form-text{
     color: red !important;
}
 .card-outline-secondary {
     margin-bottom: 40px;
}
 #empResp > tbody > tr > td > btn {
     background: #33d4c0 !important;
}
 .with-errors{
     color: red;
}
 
.sot-table {
    border: solid 1px #33D4C0;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 12px Arial, sans-serif;
}
.sot-table thead th {
    background-color: #33D4C0;
    border: solid 1px #33D4C0;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.sot-table tbody td {
    border: solid 1px #33D4C0;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.sot-table-rounded {
    border: none;
    border-radius: 10px 0 0 0;
}
.sot-table-rounded thead th {
    background-color: #33D4C0;
    border: none;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
.sot-table-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.sot-table-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}
.sot-table-rounded tbody td {
    border: none;
    /*border-top: solid 1px #957030;
    background-color: #fff;*/
}
.sot-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.sot-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
 