/* Max width before this PARTICULAR table gets nasty This query will take effect for any screen smaller than 760px and also iPads specifically. */
 @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
     table, thead, tbody, th, td, tr {
         display: block;
    }
    /* Hide table headers (but not display: none;
    , for accessibility) */
     thead tr {
         position: absolute;
         top: -9999px;
         left: -9999px;
    }
     td {
        /* Behave like a "row" */
         border: none;
         border-bottom: 1px solid #eee;
         position: relative;
         padding-left: 5%;
    }
     td:before {
        /* Now like a table header */
         position: absolute;
        /* Top/left values mimic padding */
         top: 6px;
         left: 6px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
    }
}
 @media screen and (max-width: 1024px) {
     #empResp tbody {
         margin-top: 20px;
         border: 1px solid #CCC;
         border-radius: 5px;
    }
     #empResp {
         border: none;
    }
}
 @media screen and (max-width: 767px) {
     .navbar-brand {
        font-size: 14px;
     }

     .mt-4 {
        margin-top: 20px !important;
     }

     .emp-name {
        font-size: 18px;
        color: #33D4C0 !important;
        font-weight: 700;
     }
}
